h1 {
    color: royalblue;
    text-align: center;
}

.contenedorProductos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: stretch
}

.contenedorProductos div {
    border: 1px solid black;
    padding: 25px;

}

.p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}